.list-inline-item {

  padding: 9px 16px;
  /* veya istediğin boşluğu ayarla */
}

body {
  font-family: Inter;
}

/* .container {
  max-width: 1440px;
} */

.list {

  display: flex;
  justify-content: center;
  align-items: baseline;

  li {
    list-style-type: none;
    padding: 9px 16px;

    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #5F6D7E;

  }
}

.header {
  margin-block: 16px;
  padding-inline: 32px;
}

.container-left {
  padding-inline: 16px;

  img {
    width: 24px;
    height: 24px;
  }

  div {
    padding: 12px;
  }
}

.gap-0-75rem {
  gap: 0.75rem;

}

.paddingb-0-75rem {
  padding-block: 0.75rem;

}

.paddingi-0-75rem {
  padding-inline: 0.75rem;

}

.container-middle-one {

  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E;

}

.form-one {
  padding: 10px 12px;
  margin-top: 32px;

  input {
    border: none;
  }
}

.general {
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E;

}

.form-one-1::placeholder {

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #919BA7
}

.content {
  padding: 12px 24px
}

.content-1 {
  display: flex;

  span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #272D37;

  }
}

.content-span-1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #272D37;

}

.content-span-2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E
}

.content-btns-1 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #272D37;
  padding: 10px 22px;
  border: 1px solid #DAE0E6;
  box-shadow: 0px 1px 2px 0px #1018280A;
  padding: 8px 21px;

}

.content-btns-2 {
  padding: 8px 28px;
  background-color: #437EF7;
  box-shadow: 0px 1px 2px 0px #1018280A;
  padding: 8px 29.4px;
}

.content-1-1 {
  display: flex;
  justify-content: space-between;
}


.cards {
  margin-top: 24px;
  padding: 16px 20px 0px 16px;
  border: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px #1018280A;
  border-radius: 10px;

}

.cards-1 {
  margin-bottom: 16px;

  span {

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #272D37;

  }
}

.cards-span1 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #272D37;

}


.cards-2 {

  margin-top: 12px;

}

.cards-2-span1 {

  padding: 2px 8px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  border-radius: 5px;
  white-space: nowrap;
  /* Metnin satır başına geçmesini önler */
  overflow: hidden;
}

.cards-2-span2 {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E;
  margin-left: 8px;
  white-space: nowrap;
  /* Metnin satır başına geçmesini önler */
  overflow: hidden;
}

/* 
@media (width >=1280px) {
  .content-btns-1 {
    padding: ;
  }

} */