/* Light Mode */
body {
  --content-right-dark: #151b28;
  --content-right-light: #fafbfc;
  --gunmetal: #1c2534;
  --middle-content-borderD: #2e3745;
  --middle-content-borderL: #eaebf0;
  --slategray: #2c3444;
  --blue: #437EF7;
  --white: #fff;
  --lightgrey: #A5ACBA
}

@media (prefers-color-scheme: light) {

  body.dark-mode {

    .content-right-mode {
      background-color: var(--content-right-dark);
      /* Light mode için içerik arka plan rengi */
    }

    .left-wrapper {
      background-color: var(--gunmetal);
    }

    .middle-mode {
      background-color: var(--gunmetal);
      border-right: 1px solid var(--middle-content-borderD) !important;
      border-left: 1px solid var(--middle-content-borderD) !important;

    }

    .form-one-1 {
      background-color: var(--slategray);
    }

    .form-one {
      background-color: var(--slategray);
      border: none !important;

    }

    .rounded-5 {
      background-color: var(--blue) !important;
      color: #fff;
    }

    .content-span-1 {
      color: var(--white);
    }

    .content-span-2 {
      color: var(--lightgrey);
    }

    .asdas {
      background-color: var(--slategray);
      border: 1px solid #2E3545;
      box-shadow: 0px 1px 2px 0px #1018280A;

    }

    .cards {
      background-color: var(--gunmetal);
      border: 1px solid #252D3C;
      box-shadow: 0px 1px 2px 0px #1018280A;

    }

    .content-2-name,
    .cards-span1 {
      color: var(--white);
    }

    #cart5,
    #cart4 {
      background-color: var(--gunmetal);
    }

    .content-3 {
      border: none;
      background-color: var(--gunmetal);
    }

    .content-3-span {
      color: var(--white);
    }

    .content-3-1 {
      border-bottom: 1px solid var(--middle-content-borderD);
    }

    .content-3-3 {
      border-top: 1px solid var(--middle-content-borderD);
    }

    .content-4-span1 {
      color: var(--white);
    }

    .content-btns-1 {
      background-color: var(--slategray);
      color: var(--white);
      border: 1px solid #2E3545;
      box-shadow: 0px 1px 2px 0px #1018280A;

    }

    .content-5,
    .content-6,
    .content-7 {
      background-color: var(--gunmetal);
      border: 1px solid #252D3C;
    }

    .content-6-btns,
    .content-7-btns,
    .content-5-btn {
      background-color: var(--gunmetal);
      border-right: 1px solid #252D3C;
      border-bottom: 1px solid #252D3C;
      border-left: 1px solid #252D3C;
    }

    .border-bottom {
      border-bottom: 1px solid #2e3545 !important;
    }

    .content-5-3,
    .content-7-span1 {
      color: var(--white);
    }

    .Online {
      background-color: #2C3444;
    }

    .Label {
      background-color: #2C3444;
      color: var(--white);
    }

    .three-dots,
    .content-3-span2 {
      color: var(--white);
    }

    .content-3-span1 {
      color: #A5ACBA;
    }

    .content-1-dots {
      border: 1px solid #2E3545;
      background-color: var(--slategray);
    }

    .content-1-back {
      color: var(--white);
    }

    .middle-div1 {
      background-color: var(--slategray);
      box-shadow: 0px 1px 2px 0px #1018280A;
    }

    .middle-span2,
    .middle-span-3 {
      color: var(--white);
    }

    .middle-span3 {
      color: var(--lightgrey)
    }

    .content-right-mode {
      background-color: var(--content-right-light);

    }

    .Done {
      background-color: #5DC264;
      color: #F0FAF0;
    }

    .Failed {
      background-color: #F04438;
      color: #FFF2F0;
    }
  }
}


.three-dots {
  font-size: 20px;
  font-weight: 700;
  color: #5F6D7E;
}

.content-1-dots {
  padding: 0px 13px;
  border: 1px solid #DAE0E6;
  color: "#5F6D7E";
  border-radius: 5px;

}


#cart5 {
  border: none;
}

.list-inline-item {

  padding: 9px 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter;
}

.ahsen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  /* Tam ekran yüksekliği */
}

.top {
  background-color: lightblue;
  padding: 20px;
}

.bottom {
  background-color: lightgreen;
  padding: 20px;
}

/* .container {
  max-width: 1440px;
} */

.list {

  display: flex;
  justify-content: center;
  align-items: baseline;

  li {
    list-style-type: none;
    padding: 9px 16px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #5F6D7E;

  }
}

.header {
  margin-block: 16px;
  padding-inline: 32px;
}

.container-left {
  padding-inline: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  /* Tam ekran yüksekliği */

  img {
    width: 30px;
    height: 30px;
  }

  div {
    padding: 12px;
  }
}

.gap-0-75rem {
  gap: 0.75rem;

}

.paddingb-0-75rem {
  padding-block: 0.75rem;

}

.paddingi-0-75rem {
  padding-inline: 0.75rem;

}

.left-heigth {
  height: 100vh;
  overflow: hidden;
}

.middle-mode {

  border-right: 1px solid var(--middle-content-borderL);
  border-left: 1px solid var(--middle-content-borderL);
}

.container-middle-one {

  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E;

}


.middle-div1 {
  margin-top: 32px;
  padding: 12px;
  background-color: #F8F9FB;
  box-shadow: 0px 1px 2px 0px #1018280A;
  border-radius: 10px;

}

.middle-span1 {
  font-size: 22px;
  color: #5f6d7e;
}

.middle-span2 {
  margin-top: 8px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #272D37
}


.middle-span3 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E
}

.middle-span4 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #437EF7;
  margin-top: 16px;

}

.form-one {
  padding: 10px 12px;
  margin-top: 32px;

  input {
    border: none;
  }
}

.general {
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E;

}

.form-one-1::placeholder {

  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #919BA7
}

.content {
  padding: 12px 24px;
}

.content-1 {
  display: flex;

}


.content-1-back {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #272D37;
}

.content-responsive-div {
  color: #A5ACBA;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;

}


.content-1-three-dots {
  padding: 19px 13px;
  border: 1px solid #DAE0E6;
  background-color: #2D8A39;
}

.content-span-1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #272D37;

}

.content-span-2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E
}

.content-btns-1 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #272D37;
  border: 1px solid #DAE0E6;
  box-shadow: 0px 1px 2px 0px #1018280A;
  padding: 8px 21px !important;

}

.content-btns-2 {
  padding: 8px 28px !important;
  background-color: #437EF7;
  box-shadow: 0px 1px 2px 0px #1018280A;
  padding: 8px 29.4px;
}

.asdas {
  padding: 8px 21px !important
}

.asdasa {
  padding: 8px 29px !important;
}

.content-1-1 {
  display: flex;
  justify-content: space-between;
}


.cards {
  max-width: 314px;
  margin-top: 24px;
  padding: 16px 20px 0px 16px;
  border: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px #1018280A;
  border-radius: 10px;

}

.cards-1 {
  margin-bottom: 16px;

  span {

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #272D37;

  }
}

.cards-span1 {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #272D37;

}


.cards-2 {

  margin-top: 12px;

}

.cards-2-span1 {

  padding: 2px 8px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  border-radius: 5px;
  white-space: nowrap;
  /* Metnin satır başına geçmesini önler */
  overflow: hidden;
}

.cards-2-span2 {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E;
  margin-left: 8px;
  white-space: nowrap;
  /* Metnin satır başına geçmesini önler */
  overflow: hidden;
}

.content-3 {
  border: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px #1018280A;
  border-radius: 10px;
  margin-top: 24px;
}

.content-3-1 {
  margin-top: 24px;
  padding: 0px 20px 16px 20px;
  border-bottom: 1px solid #EAEBF0;
}

.content-3-2 {
  padding: 16px 20px;

  span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #5F6D7E;

  }

  p {
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #272D37;
  }
}

.content-3-3 {
  padding: 16px 20px;
  border-top: 1px solid #EAEBF0;

  span {

    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #437EF7;
  }

}


.content-4 {
  margin-top: 24px;

  span {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #272D37;

  }
}


.content-5 {
  width: 302px;
  margin-top: 24px;
  padding: 16px 20px;
  border: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px #1018280A;
  border-radius: 10px 10px 0px 0px;

}

.content-5-label-online {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  border-radius: 5px;
  padding: 2px 8px;

}

.Label {
  padding: 2px 8px;
  border-radius: 5px;
  color: #272D37;
  background-color: #F7F7F8;
}

.Online {
  padding: 2px 8px;
  border-radius: 5px;
  color: #437EF7;
  background-color: #F5FAFF;
}

.content-5-1 {
  padding-block: 16px;

}

.border-bottom {
  border-bottom: 1px solid #EAEBF0;
}

.content-5-2 {

  gap: 10px;
}


.content-5-3 {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #272D37;

}

.content-5-4 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #5F6D7E;

}

.content-5-5 {
  span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #272D37;

  }
}

.content-5-btns {

  padding: 16px 20px;

}

.content-5-btn {
  padding: 16px 20px;
  border-right: 1px solid #EAEBF0;
  border-bottom: 1px solid #EAEBF0;
  border-left: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px #1018280A;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;

  button {
    padding: 8px 105px;

    border: none;
    background-color: #437EF7;
    box-shadow: 0px 1px 2px 0px #1018280A;
    border-radius: 6px;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
  }

}

.content-6 {
  width: 302px;
  padding: 16px 20px;
  border: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px #1018280A;
  border-radius: 10px 10px 0px 0px;
}

.content-6-btns {
  padding: 16px 20px;
  border-right: 1px solid #EAEBF0;
  border-bottom: 1px solid #EAEBF0;
  border-left: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px #1018280A;
  border-radius: 0px 0px 10px 10px;
}

.content-6-btn1 {
  padding: 5px 33px !important;
}

.content-6-btn2 {
  padding: 5px 32px !important;
}

.content-7 {
  width: 302px;
  padding: 16px 20px;
  border: 1px solid #EAEBF0;
  box-shadow: 0px 1px 2px 0px #1018280A;
  border-radius: 10px 10px 0px 0px;
}

.content-7-btns {
  padding: 16px 20px;

  span {
    padding: 5px 7px;
  }
}

.content-7-done-failed {

  padding: 2px 8px;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;

  border-radius: 5px;

}

.Done {
  color: #2D8A39;
  background-color: #F0FAF0;
}

.Failed {
  color: #E2341D;
  background-color: #FFF2F0;
}




@media (max-width < 1024px) {
  .cards {
    margin-top: 24px;
    padding: 5px;
    /* max-width: 250px !important; */
  }

  .cards-wrapper {
    gap: 10px;
    display: flex;
  }

  .cards-span1 {
    font-size: 20px;
  }

  /* .zehra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } */

}

@media (max-width: 576px) {

  .d-flex-responsive {
    width: 100% !important;
    flex-direction: row;
  }
}