/* Light Mode */
body {
    --content-right-dark: #151b28;
    --content-right-light: #fafbfc;
    --content-left-middle: #1c2534;

    color: #213547;
}

@media (prefers-color-scheme: light) {

    body.dark-mode {

        .content-right-mode {
            background-color: var(--content-right-dark);
            /* Light mode için içerik arka plan rengi */
        }

        .left-mode {
            background-color: var(--content-left-middle);
        }

        .middle-mode {
            background-color: var(--content-left-middle);
            border-right: 1px solid var(--content-left-middle);
        }
    }

    .content-right-mode {
        background-color: var(--content-right-light);
        /* Light mode için içerik arka plan rengi */

    }


}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        --background-color: #242424;
        --content-bg-color: #333333;
        --deneme: #220707;
        /* Dark mode için renk */
        background-color: var(--background-color);
        color: rgba(255, 255, 255, 0.87);
    }

    body.dark-mode {
        background-color: var(--deneme);
    }

    .content-right-mode {
        background-color: var(--deneme);
        /* Dark mode için içerik arka plan rengi */
    }
}